<%-include("header.ejs")%>

    <div class="container">
        <header>
            <div class="logo"> <a href="/"><img src="/images/logo.png" alt="logo"></a> </div>
            <nav>
                <ul class="nav_links">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Friends</a></li>
                    <li><a href="#">FQA</a></li>
                </ul>
            </nav>
            <div class="nav-corner">
                <a class="cta" href="/chat/"><button>Chat</button></a>
                <img class="user-pic" src="/images/profile.png">
            </div>

        </header>
    </div>
