<%-include("partials/navbar.ejs")%>

<ul id="messages" class="messages"></ul>

<div class="chat-box">
    <form id="form" action="">
        <label for="input"></label><input id="input" autocomplete="off"/><button>Send</button>
    </form>
</div>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
    const userId = localStorage.getItem('userId');
    localStorage.setItem('userId', userId);

    const socket = io({
        query: { userId }
    });

    const form = document.getElementById('form');
    const input = document.getElementById('input');
    const messages = document.getElementById('messages');

    form.addEventListener('submit', (e) => {
        e.preventDefault();
        if(input.value){
            socket.emit('chat message', input.value);
            input.value= '';
        }
    });

    socket.on('chat message', (msg) => {
        const item = document.createElement('li');
        item.textContent=`${msg.sender.username}: ${msg.message}`;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    })

    async function fetchMessages() {
        try {
            const response = await fetch('/messages');
            const messagesData = await response.json();
            messagesData.forEach(msg => {
                const item = document.createElement('li');
                item.textContent = `${msg.sender.username}: ${msg.message}`;
                messages.appendChild(item);
            });
            messages.scrollTop = messages.scrollHeight;
        } catch (error) {
            console.error('Error fetching messages:', error);
        }
    }

    fetchMessages();
</script>

<%-include("partials/footer.ejs")%>