<%- include("partials/navbar.ejs") %>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>termchat3.0</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <header class="section__container header__container">
        <div class="header__content">
          <span class="bg__blur"></span>
          <span class="bg__blur header__blur"></span>
          <h4>Now chat through your terminal</h4>
          <h1><span>CHAT</span> TO DEVELOPE</h1>
          <p>
            TermChat is a terminal-based chat application for developers, providing real-time messaging and robust security. It integrates seamlessly with developer tools, allowing for efficient, distraction-free communication directly from the command line.
          </p>
          <a href="viwes/partials/chat.ejs"><button class="btn">Let's Chat!</button></a>
        </div>
        <div class="header__image">
          <img src="/images/bg.jpeg" alt="header" />
        </div>
      </header>
</body>
</html>

<%- include("partials/footer.ejs") %>
