<%-include("partials/navbar.ejs")%>
<h2>signup</h2>

<form action="/signup" method="post">
    <label>
        <input type="text" name="username" placeholder="Name">
    </label>
    <label>
        <input type="password" name="password" placeholder="Password">
    </label>
    <input type="submit">
</form>

<%-include("partials/footer.ejs")%>